<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <div> Date:  @DateTime.Now.Day / @DateTime.Now.Month / @DateTime.Now.Year</div>
    </div>
    <footer>
        @RenderSection("footer", required: false)
        <vc:greeter></vc:greeter>
    </footer>
</body>
</html>
