<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Darko's Food</a>
            </div>
            <div class="navbar-right">
                <vc:login-logout></vc:login-logout>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <div> Date:  @DateTime.Now.Day / @DateTime.Now.Month / @DateTime.Now.Year</div>
        <footer>
            @RenderSection("footer", required: false)
            <div></div>
            @*<vc:greeter></vc:greeter>*@
            @*@if (User.Identity.IsAuthenticated)
                {
                    foreach (var identity in User.Identities)
                    {
                        <h3>@identity.Name</h3>
                        <ul>
                            @foreach (var claim in identity.Claims)
                            {
                                <li>@claim.Type - @claim.Value</li>
                            }
                        </ul>
                    }
                }
                else
                {
                    <div>You are not Loged in as user </div>
                }*@          
        </footer>
    </div>
    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    @*<environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/node_modules/jquery-validation/dist/jquery.validate.js"
                asp-fallback-test="window.JQuery"
                crossorihin="anonymous"

    </environment>*@
</body>
</html>
